@import url('https://fonts.googleapis.com/css?family=Poppins');

.container {
background-color: #dddddd;
border-radius: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
display: flex;
justify-content: center;
align-items: center;
height: 250px;
width: 90%;
margin: 50px auto;
flex-direction: column; /* Ajout de la propriété flex-direction */
}

.button-container {
display: flex;
justify-content: center;
align-items: center;
}

.button {
font-family: 'Poppins', sans-serif;
font-size: 20px; /* Augmenter la taille de la police /
color: #ffffff;
background-color: #ff8800;
border-radius: 20px;
padding: 20px 90px; / Augmenter le rembourrage /
margin-right: 20px; / Augmenter l'espace entre les boutons */
border: none;
cursor: pointer;
}

.button:last-child {
margin-right: 0;}